* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-padding {
  padding-left: 10px;
}

.App {
  font-family: "Maitree", serif;
  text-align: center;
  color: #43a047;
}

h1 {
  margin-bottom: 0;
}
